﻿@model CarfinderjaWeb.Data.Entities.BlogPost

@{
    ViewBag.Title = "DELETE Blog Post - " + Model.Title;
}

<h2>DELETE "@Model.Title"</h2>
<h3>Are you sure you want to delete this?</h3>

<table class="table">
    <tr>
        <td class="text-right"><b>@Html.DisplayNameFor(model => model.CreatedOn):</b></td>
        <td>@Html.DisplayFor(model => model.CreatedOn)</td>
    </tr>
    <tr>
        <td class="text-right"><b>@Html.DisplayNameFor(model => model.PostedOn):</b></td>
        <td>@Html.DisplayFor(model => model.PostedOn)</td>
    </tr>
    <tr>
        <td class="text-right"><b>@Html.DisplayNameFor(model => model.Active):</b></td>
        <td>@Html.DisplayFor(model => model.Active)</td>
    </tr>
    @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
    {
        <tr>
            <td class="text-right"><b>@Html.DisplayNameFor(model => model.ImageUrl):</b></td>
            <td>
                <img src="@Model.ImageUrl" alt="Blog Post Image" width="200" class="img-thumbnail" />
            </td>
        </tr>
    }
    <tr>
        <td class="text-right"><b>@Html.DisplayNameFor(model => model.Body):</b></td>
        <td>@Html.Raw(Model.Body)</td>
    </tr>
</table>

@using (Html.BeginForm("Delete", "BlogPosts", new { Model.Id }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}