﻿@model CarfinderjaWeb.Data.Entities.BlogPost

@{
    ViewBag.Title = "Blog Post Details - " + Model.Title;
}

<h2>@Model.Title</h2>

<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-12">
        @Html.ActionLink("Edit", "Edit", new {id = Model.Id}, new {@class = "btn btn-primary"})
        @Html.ActionLink("Delete", "Delete", "BlogPosts", new { id = Model.Id }, new {@class = "btn btn-danger"})
        @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-default"})
    </div>
</div>
<table class="table">
    <tr>
        <td class="text-right"><b>@Html.DisplayNameFor(model => model.CreatedOn):</b></td>
        <td>@Html.DisplayFor(model => model.CreatedOn)</td>
    </tr>
    <tr>
        <td class="text-right"><b>@Html.DisplayNameFor(model => model.PostedOn):</b></td>
        <td>@Html.DisplayFor(model => model.PostedOn)</td>
    </tr>
    <tr>
        <td class="text-right"><b>@Html.DisplayNameFor(model => model.Active):</b></td>
        <td>@Html.DisplayFor(model => model.Active)</td>
    </tr>
    @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
    {
        <tr>
            <td class="text-right"><b>@Html.DisplayNameFor(model => model.ImageUrl):</b></td>
            <td>
                <img src="@Model.ImageUrl" alt="Blog Post Image" width="200" class="img-thumbnail" />
            </td>
        </tr>
    }
    <tr>
        <td class="text-right"><b>@Html.DisplayNameFor(model => model.Body):</b></td>
        <td>@Html.Raw(Model.Body)</td>
    </tr>
</table>
