﻿<!DOCTYPE HTML>
<html>
<head>
	<title>Carfinderja.com @ViewBag.Title</title>
	<link rel="icon" href="@Url.Content("~/Content/skins/AutoShowWeb/images/favicon.ico")" type="image/x-icon" />
	<link rel="shortcut icon" href="@Url.Content("~/Content/skins/AutoShowWeb/images/favicon.ico")" type="image/x-icon" />
	@Styles.Render("~/Content/css/AutoShowWeb/home")
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	@Styles.Render("~/Content/css/font-awesome")
	@Scripts.Render("~/bundles/scripts/AutoShowWeb/home")
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
</head>
<body>
	<script>  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');  ga('create', 'UA-93577814-1', 'auto');  ga('send', 'pageview');</script>
<div class="banner" style="position: relative;">
		<div class="container" style="position: absolute; bottom: 0; width: 100%; text-align: center;">
			<div class="navbar-header">
				<div class="logo">
					<a href="/" style="color: #c0c0c0;"><img src="@Url.Content("~/Content/skins/AutoShowWeb/images/logo-combined.jpg")" /></a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

<div class="men" style="padding-top: 5px;">
	<div class="container">
	    <div class="col-md-8 col-md-push-2 model-mar">
	        <div class="row" style="margin-bottom: 5px;">
	            <div class="col-md-4">
	                @Html.ActionLink("CAR NEWS", "Index", "Blog", null, new { @class = "btn btn-default", style = "background-color: #000; width: 100%; color: #fff; font-weight: bold; font-size: 16px; padding: 8px;" })
	            </div>
	            <div class="col-md-4">
                    @Html.ActionLink("STATISTICS", "Statistics", "Home", null, new { @class = "btn btn-default", style = "background-color: #000; width: 100%; color: #fff; font-weight: bold; font-size: 16px; padding: 8px;" })
	            </div>
	            <div class="col-md-4">
                    @Html.ActionLink("CONTACT US", "ContactUs", "Home", null, new { @class = "btn btn-default", style = "background-color: #000; width: 100%; color: #fff; font-weight: bold; font-size: 16px; padding: 8px;" })
	            </div>
	        </div>
	        
	        @RenderBody()
	        @Scripts.Render("~/bundles/scripts/AutoShowWeb/home/bottom")
	    </div>
	</div>
</div>

<div class="footer">
	<div class="container">
		<ul class="social">
			<li><a href="https://www.facebook.com/carfinderja/"><i class="fb"> </i> </a></li>
		</ul>
		<div class="clearfix"></div>
		<div class="copy">
			<p>&copy; @DateTime.Today.Year Carfinderja. All rights reserved | Terms & conditions: <a href="@Url.Content("~/Content/Carfinderja - Terms and Conditions.pdf")"><i class="fa fa-file-pdf-o fa-lg"></i></a> | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
			</p>
		</div>
	</div>
</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Contact us</h4>
				</div>
				<div class="modal-body">
					@using (Html.BeginForm("ContactUs", "Home", FormMethod.Post, new { id = "contact_us_form" })) {
						@Html.AntiForgeryToken()
						<div id="textGroup" class="form-group">
							@Html.TextArea("text", "", new { @class = "form-control", placeholder = "Your message" })
						</div>
						<div id="emailGroup" class="form-group">
							@Html.TextBox("email", "", new { @class = "form-control", placeholder = "Your email" })
						</div>
					}
				</div>
				<div class="modal-footer">
					<button id="modal_button_cancel" type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					<button id="modal_button_submit" type="button" class="btn btn-primary" style="background-color: #000000;">Send</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>