﻿<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Carfinderja.com - Car News - @ViewBag.Title</title>
        <link rel="icon" href="@Url.Content("~/Content/skins/AutoShowWeb/images/favicon.ico")" type="image/x-icon" />
        <link rel="shortcut icon" href="@Url.Content("~/Content/skins/AutoShowWeb/images/favicon.ico")" type="image/x-icon"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        @Styles.Render("~/Content/css/AutoShowWeb/home")
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        @Styles.Render("~/Content/css/font-awesome")
        @Scripts.Render("~/bundles/scripts/AutoShowWeb/home")
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event) {
                    event.preventDefault();
                    $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
                });
            });
        </script>
        @RenderSection("head", false)
    </head>
    <body>
        <script>  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');  ga('create', 'UA-93577814-1', 'auto');  ga('send', 'pageview');</script>
        <div class="banner car-news" style="position: relative;">
            <div class="container" style="position: absolute; bottom: 0; width: 100%; text-align: center;">
                <div class="navbar-header">
                    <div class="logo">
                        <a href="/" style="color: #c0c0c0;"><img src="@Url.Content("~/Content/skins/AutoShowWeb/images/carfinderja-logo.png")"/></a>
                        <div style="color: red; text-transform: uppercase; font-size: 24px; font-weight: bold; background-color: #000; padding: 8px;">Car News</div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="men" style="padding-top: 5px;">
            <div class="container">
                <div class="model-mar">
                    @RenderBody()
                    @Scripts.Render("~/bundles/scripts/AutoShowWeb/home/bottom")
                </div>
            </div>
        </div>
    <div class="footer">
        <div class="container">
            <ul class="social">
                <li><a href="https://www.facebook.com/carfinderja/"><i class="fb"> </i> </a></li>
            </ul>
            <div class="clearfix"></div>
            <div class="copy">
                <p>
                    &copy; @DateTime.Today.Year Carfinderja. All rights reserved | Terms & conditions: <a href="@Url.Content("~/Content/Carfinderja - Terms and Conditions.pdf")"><i class="fa fa-file-pdf-o fa-lg"></i></a> | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
                </p>
            </div>
        </div>
    </div>
        @RenderSection("bottom", false)
    </body>
</html>
