﻿<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>@ViewBag.Title - Carfinderja</title>
		@Styles.Render("~/Content/css")
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
				<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
<body>
@Html.Partial("_NavigationPartial")
<div class="jumbotron">
	<h1>Carfinderja</h1>
</div>
<div class="container">
	@if (!IsSectionDefined("PageHeader")) {
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">
					@ViewBag.PageHeading
					<small>@ViewBag.PageHeadingSecondaryText</small>
				</h1>
			</div>
		</div>
	}
	@RenderSection("PageHeader", required: false)
	@RenderBody()
	<hr>
	@Html.Partial("_Footer")
</div>
@Scripts.Render("~/bundles/scripts")
</body>
</html>