﻿@model IEnumerable<string>
@{
    ViewBag.Title = "Error";
}

<div class="alert alert-danger" role="alert">
    <ul>
        @foreach (var item in Model)
        {
            <li>@item</li>
        }
    </ul>
</div>
@Html.ActionLink("OK", "Index", "Home", null, new { @class = "btn btn-default" })