﻿@model CarfinderjaWeb.Data.Entities.PostComment
@{
    ViewBag.Title = "Comment for Post: " + Model.Post.Title;
}

<h2>Comment for Post "@Model.Post.Title"</h2>

<table class="table">
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.CreatedOn):</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.CreatedOn)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.Name):</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.Email):</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Email)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.Comment):</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Comment)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.Active):</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Active)
        </td>
    </tr>
</table>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("ApproveComment", "Dashboard", new {Model.Id}, FormMethod.Post, new { style = "float: left; margin-right: 10px;" }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Approve" class="btn btn-success"/>
        }
        @using (Html.BeginForm("DeleteComment", "Dashboard", new { Model.Id }, FormMethod.Post, new { style = "float: left;" }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Delete" class="btn btn-danger" />
        }
    </div>
</div>
