﻿@using PagedList.Mvc
@model PagedList.IPagedList<CarfinderjaWeb.Data.Entities.PostComment>
@{
    ViewBag.Title = "Dashboard";
}

<h2>Unapproved Comments</h2>

<table class="table table-striped table-hover">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Posted On</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.CreatedOn.ToLocalTime().ToString("yyyy-MM-dd HH:mm")</td>
            <td>@Html.ActionLink("View Details", "Comment", "Dashboard", new { item.Id }, new { @class = "btn btn-xs btn-warning" })</td>
        </tr>
    }
</table>
<p>
    @Html.PagedListPager(Model as PagedList.IPagedList, page => Url.Action("Index", "Dashboard", new { page }))
</p>