﻿@using AngleSharp.Dom
@using AngleSharp.Parser.Html
@model CarfinderjaWeb.Data.Entities.BlogPost
@{
    var parser = new HtmlParser();
    INodeList parsedBody = parser.ParseFragment(Model.Body, null);
    string body = string.Join(" ", parsedBody.Select(node => node.TextContent).ToArray());
}
<div class="blog-post-summary row">
    @if (ViewBag.Even)
    {
        <div class="col-md-4">
            @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" alt="@Model.Title" />
            }
        </div>
        <div class="col-md-8">
            <div class="title">
                <h4>@Model.Title</h4>
                <span>@Model.PostedOn.Value.ToLocalTime().ToLongDateString(), @Model.PostedOn.Value.ToLocalTime().ToShortTimeString()</span>
            </div>
            <div class="body-sample">@(body.Substring(0, body.Length > 350 ? 350 : body.Length))... @Html.ActionLink("Read more", "Post", new { Model.Id }, new {@class = "blog-post-link"})</div>
        </div>
    }
    else
    {
        <div class="col-md-8">
            <div class="title">
                <h4>@Model.Title</h4>
                <span>@Model.PostedOn.Value.ToLocalTime().ToLongDateString(), @Model.PostedOn.Value.ToLocalTime().ToShortTimeString()</span>
            </div>
            <div class="body-sample">@(body.Substring(0, body.Length > 350 ? 350 : body.Length))... @Html.ActionLink("Read more", "Post", new { Model.Id }, new { @class = "blog-post-link" })</div>
        </div>
        <div class="col-md-4">
            @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" alt="@Model.Title" />
            }
        </div>
    }
</div>