﻿@model CarfinderjaWeb.Data.Entities.PostComment

<div class="post-comment">
    <div class="meta">
        <div class="name">@Model.Name</div>
        <div class="date">@Model.CreatedOn.ToLocalTime().ToLongDateString(), @Model.CreatedOn.ToLocalTime().ToShortTimeString()</div>
    </div>
    <div class="body">@Model.Comment</div>
</div>