﻿@model CarfinderjaWeb.ViewModels.Blog.Comment

@*@using (Html.BeginForm("Comment", "Blog", FormMethod.Post))*@
@using (Ajax.BeginForm("Comment", "Blog", new AjaxOptions { AllowCache = false, HttpMethod = "POST", LoadingElementId = "loader", InsertionMode = InsertionMode.InsertAfter, OnBegin = "disableButton", OnFailure = "notifyFail", OnSuccess = "notifySuccess", OnComplete = "redirectUser" }, new { id = "comment_form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(x=>x.BlogPostId)

    <div class="form-group">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Name) } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Email) } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.EditorFor(model => model.Message, new {htmlAttributes = new {@class = "form-control", rows = 5, placeholder = Html.DisplayNameFor(x => x.Message)}})
        @Html.ValidationMessageFor(model => model.Message, "", new {@class = "text-danger"})
    </div>

    <div id="loader" class="form-group" style="display: none;">
        <div class="row">
            <div class="col-md-12">
                <div style="width: 205px; margin: 0 auto; padding: 20px 100px;">
                    <div class="ball-clip-rotate-multiple">
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Leave Comment" class="btn btn-primary" style="background-color: red; font-weight: bold;" />
    </div>
}
<script type="text/javascript">
    function disableButton() {
        var $button = $("#comment_form input[type=submit]");
        $button.attr("disabled", "disabled");
    }

    function notifyFail() {
        alert("Error occurred during submission the query. Your query has not been submitted.");
    }

    function notifySuccess() {
        alert("Comment Submitted");
    }

    function redirectUser() {
        location.reload();
    }
</script>