﻿@using PagedList.Mvc
@model PagedList.IPagedList<CarfinderjaWeb.Data.Entities.BlogPost>
@{
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
    ViewBag.Title = "Latest News";
    int index = 0;
}

@foreach (var item in Model)
{
    @Html.Partial("_BlogPostSummary", item, new ViewDataDictionary { { "Even", index % 2 == 0 } })
    index++;
}
<hr />
<div class="row text-center">
    <div class="col-lg-12">
    @Html.PagedListPager(Model, page => Url.Action("Index", "Blog", new { page }, null))
    </div>
</div>
