﻿@using CarfinderjaWeb.ViewModels.Blog
@model CarfinderjaWeb.Data.Entities.BlogPost
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

@section head
{
    <link type="text/css" rel="stylesheet" href="~/Content/loaders.min.css"/>
    <style type="text/css">
        .field-validation-error {
            color: #f00;
        }

        .validation-summary-errors {
            color: #f00;
            font-weight: bold;
        }

        .input-validation-error {
            border: 2px solid #f00;
            background-color: #fee;
        }

        input[type="checkbox"].input-validation-error {
            outline: 2px solid #f00;
        }

        .ball-clip-rotate-multiple > div {
            border-right-color: red;
            border-left-color: red;
        }

        .ball-clip-rotate-multiple > div:last-child {
            border-color: red transparent;
        }
    </style>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}

<div class="blog-post">
    @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
    {
        <img class="post-image" src="@Model.ImageUrl"/>
    }
    <div class="title">
        <h2>@Model.Title</h2>
        <span>@Model.PostedOn.Value.ToLocalTime().ToLongDateString(), @Model.PostedOn.Value.ToLocalTime().ToShortTimeString()</span>
    </div>
    @Html.Raw(Model.Body)
    <div style="clear: both;"></div>
</div>
<div class="well" style="background-color: #7f7f7f">
    <h3>Comments</h3>
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_CreateComment", new Comment {BlogPostId = Model.Id})
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @foreach (var comment in Model.Comments.Where(x => x.Active).OrderByDescending(x => x.CreatedOn).Take(100))
            {
                @Html.Partial("_BlogPostComment", comment)
            }
        </div>
    </div>
</div>
