﻿@model CarfinderjaWeb.ViewModels.Home.ContactUs
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Carfinderja.com - Contact Us</title>
    <link rel="icon" href="@Url.Content("~/Content/skins/AutoShowWeb/images/favicon.ico")" type="image/x-icon" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/skins/AutoShowWeb/images/favicon.ico")" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @Styles.Render("~/Content/css/AutoShowWeb/home")
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css/font-awesome")
    @Scripts.Render("~/bundles/scripts/AutoShowWeb/home")
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <link type="text/css" rel="stylesheet" href="~/Content/loaders.min.css" />
    <style type="text/css">
        .field-validation-error {
            color: #f00;
        }

        .validation-summary-errors {
            color: #f00;
            font-weight: bold;
        }

        .input-validation-error {
            border: 2px solid #f00;
            background-color: #fee;
        }

        input[type="checkbox"].input-validation-error {
            outline: 2px solid #f00;
        }

        .ball-clip-rotate-multiple > div {
            border-right-color: red;
            border-left-color: red;
        }

        .ball-clip-rotate-multiple > div:last-child {
            border-color: red transparent;
        }
    </style>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
    <script>  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');  ga('create', 'UA-93577814-1', 'auto');  ga('send', 'pageview');</script>
    <div class="banner car-news">
        <div class="container" style="width: 100%; text-align: center;">
            <div class="navbar-header">
                <div class="logo">
                    <a href="/" style="color: #c0c0c0;"><img src="@Url.Content("~/Content/skins/AutoShowWeb/images/carfinderja-logo.png")"/></a>
                    <div style="color: red; text-transform: uppercase; font-size: 24px; font-weight: bold; background-color: #000; padding: 8px;">Contact Us</div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="men" style="padding-top: 5px;">
        <div class="container">
            <div class="col-md-8 col-md-push-2 model-mar">
                <div class="text-center" style="color: #000; font-size: 20px; font-weight: bold; margin-top: 20px;">
                    <p>Feel free to reach out to us if you have any questions regarding advertisement, cars for sale or anything related to CARFINDERJA.</p>
                    <p>We are happy to help!</p>
                </div>
                @*@using (Html.BeginForm("ContactUs", "Home", FormMethod.Post, new {id = "contact_us_form"}))*@
                @using(Ajax.BeginForm("ContactUs", "Home", new AjaxOptions { AllowCache = false, HttpMethod = "POST", LoadingElementId = "loader", InsertionMode = InsertionMode.InsertAfter, OnBegin = "disableButton", OnFailure = "notifyFail", OnSuccess = "notifySuccess", OnComplete = "redirectUser"}, new { id = "contact_us_form" }))
                {
                    @Html.ValidationSummary(false, "", new { style = "margin: 20px 0;" })
                    <div class="text-right" style="font-size: 14px; font-style: italic;">* All fields are mandatory</div>
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Name) })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.CountryCode, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.CountryCode) })
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.PhoneNumber) })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Email) })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.TextAreaFor(x => x.Message, new {@class = "form-control", placeholder = Html.DisplayNameFor(x => x.Message), rows = "5"})
                            </div>
                        </div>
                    </div>

                    <div id="loader" class="form-group" style="display: none;">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="width: 205px; margin: 0 auto; padding: 20px 100px;">
                                <div class="ball-clip-rotate-multiple">
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <input type="submit" value="SUBMIT" class="btn btn-default" style="background-color: red; font-weight: bold; color: #fff; padding: 10px 80px; font-size: 18px;" />
                    </div>
                    
                }


                @Scripts.Render("~/bundles/scripts/AutoShowWeb/contactus/bottom")
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <ul class="social">
                <li><a href="https://www.facebook.com/carfinderja/"><i class="fb"> </i> </a></li>
            </ul>
            <div class="clearfix"></div>
            <div class="copy">
                <p>
                    &copy; @DateTime.Today.Year Carfinderja. All rights reserved | Terms & conditions: <a href="@Url.Content("~/Content/Carfinderja - Terms and Conditions.pdf")"><i class="fa fa-file-pdf-o fa-lg"></i></a> | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
                </p>
            </div>
        </div>
    </div>
<script type="text/javascript">
    function disableButton() {
        var $button = $("#contact_us_form input[type=submit]");
        $button.attr("disabled", "disabled");
    }

    function notifyFail() {
        alert("Error occurred during submission the query. Your query has not been submitted.");
    }

    function notifySuccess() {
        alert("Query Submitted");
    }

    function redirectUser() {
        location = "/";
    }
</script>
</body>
</html>
