﻿@using System.Globalization
@using CarfinderjaWeb.Data
@using PagedList.Mvc
@model CarfinderjaWeb.ViewModels.Home.Index

@{
    ViewBag.Title = "Find all types of vehicles for sale in Jamaica";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Get, new {id="searchForm"})) {
<div class="well" style="background-color: #7f7f7f; margin-bottom: 10px; padding: 10px;">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group" id="make_group">
						@Html.DropDownListFor(x => x.MakeId, Model.Makes.Select(make => new SelectListItem() { Text = make.Name, Value = make.Id.ToString(), Selected = make.Id == Model.MakeId }), "Brand", new { @class = "form-control" })
					</div>
					<div class="form-group">
						@Html.DropDownListFor(x => x.PriceRange, Model.PriceRangeItems, "Price range JMD", new { @class = "form-control" })
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group" id="model_group">
						@Html.DropDownListFor(x => x.ModelId, Model.Models.Select(model => new SelectListItem() {Text = model.Name, Value = model.Id.ToString(), Selected = model.Id == Model.ModelId }), Model.MakeId == null ? "Model" : (!Model.Models.Any() ? "No models for this make" : "Select model"), new {@class = "form-control"})
					</div>
					<div class="form-group">
						@Html.DropDownListFor(x => x.YearFrom, Enumerable.Range(1960, DateTime.Today.Year - 1960 + 1).OrderByDescending(x => x).Select(x => new SelectListItem() { Text = x.ToString(), Value = x.ToString(), Selected = Model.YearFrom == x }), "Year (from)", new { @class = "form-control" })
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						@Html.DropDownListFor(x => x.Transmission, Model.Transmissions.Select(x => new SelectListItem() { Text = x, Value = x, Selected = Model.Transmission.HasValue && Enum.GetName(typeof(Transmission), Model.Transmission.Value).ToUpperInvariant() == x.ToUpperInvariant() }), "Transmission type", new { @class = "form-control" })
					</div>
					<div class="form-group">
						@Html.DropDownListFor(x => x.YearTo, Enumerable.Range(1960, DateTime.Today.Year - 1960 + 1).OrderByDescending(x => x).Select(x => new SelectListItem() { Text = x.ToString(), Value = x.ToString(), Selected = Model.YearTo == x }), "Year (to)", new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<input type="submit" value="Find car now" class="btn btn-primary" style="background-color: #ff0000; text-transform: uppercase; text-decoration: underline;"/>
				</div>
			</div>
	</div>
<div class="well text-center" style="background-color: #7f7f7f; color: #fff; text-transform: uppercase; font-size: 1.8em; padding: 0; margin-bottom: 2px;">Offers</div>
<div class="row">
	<div class="col-md-5">
		<div class="form-group" style="margin-bottom: 0;">
			@Html.DropDownListFor(x=>x.SortBy, Model.SortByItems, new { @class="form-control" })
		</div>
	</div>
</div>
		}
<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
	<ul>
		@{
			int i = 0;
		}
		@foreach (var ad in Model.Items) {
			i++;
			<li @Html.Raw(i%4 == 0 ? "style=\"margin-right: 0;\"" : "")>
				<a class="cbp-vm-image" href="@ad.Url" target="_blank">
					<div class="view view-first">
						<div class="inner_content clearfix">
							<div class="product_image">
								<div class="mask1">
									<img src="@ad.ThumbnailUrl" alt="@Html.Encode(ad.Title)" class="img-responsive zoom-img">
								</div>
								<div class="product_container text-center">
									<h4>@ad.Title @ad.Year</h4>
									<p>@(ad.Price == null ? "" : string.Format(CultureInfo.CreateSpecificCulture("en-US"), "{0:C0}", ad.Price))
										@(string.IsNullOrEmpty(ad.Location) ? "" : string.Format("| {0}", ad.Location))
									</p>
									<a class="btn btn-default btn-xs" style="background-color: #000; color: #fff; width: 100%; font-size: 0.6em" href="@ad.Url" target="_blank">MORE INFO</a>
								</div>
							</div>
						</div>
					</div>
				</a>
			</li>
			if (i == 4) {
				<li class="hidden-xs" style="width: 728px; height: 90px; min-height: 0; margin: 10px 0 0 0; border: 0; background-color: #ed7d31; color: #fff; font-size: 2em; text-transform: uppercase; font-style: italic; font-weight: bold; padding: 0;">
				    @*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

                    <script>

  (adsbygoogle = window.adsbygoogle || []).push({

    google_ad_client: "ca-pub-2472705106870024",

    enable_page_level_ads: true

  });

                    </script>*@
                    Please use "Contact  Us" form for advertising space
				</li>
			} else if(i == 12) {
				<li class="hidden-xs" style="width: 728px; height: 90px; min-height: 0; margin: 10px 0 0 0; border: 0; background-color: #ed7d31; color: #fff; font-size: 2em; text-transform: uppercase; font-style: italic; font-weight: bold; padding: 0;">
				    @*<script>

  (adsbygoogle = window.adsbygoogle || []).push({

    google_ad_client: "ca-pub-2472705106870024",

    enable_page_level_ads: true

  });

                    </script>*@
                    Please use "Contact  Us" form for advertising space
				</li>
			}
		}
	</ul>
</div>

<hr/>
<div class="row text-center">
	<div class="col-lg-12">
		@{
			var parameters = new RouteValueDictionary(Request.QueryString.AllKeys.ToDictionary(key => key, key => Request.QueryString[key] as object));
		}
		@Html.PagedListPager(Model.Items, page => {
			parameters["page"] = page;
			return Url.Action("Index", "Home", parameters);
		})
	</div>
</div>

<div class="well">
	<h3>Find all types of vehicles for sale in Jamaica</h3>

	<p>Carfinderja.com offers you a quick overview of all vehicles advertised for sale in Jamaica. This website will search multiple websites advertising vehicles for sale based on your search criteria, making it easy and quick for you to find your dream car at the best price. You can search for your car by choosing a preferred model, make, year, transmission type, and price range. We combine all the available cars online from dealers and individual car sellers in Jamaica.</p><br/>

	<p>All vehicle types such as motorcycles, cars, buses, SUV's, vans, and trucks are included in the search. They can be new or used, all depending on your preferences.</p><br/>

	<p>
		Brands vary from Japanese to European, the most popular brands advertised are :
        <a href="/?MakeId=36&PriceRange=&ModelId=&YearFrom=&Transmission=&YearTo=&SortBy=4">Toyota</a><br />
		<a href="/?MakeId=28&PriceRange=&ModelId=&YearFrom=&Transmission=&YearTo=&SortBy=4">Nissan</a><br/>
		<a href="/?MakeId=14&PriceRange=&ModelId=&YearFrom=&Transmission=&YearTo=&SortBy=4">Honda</a><br/>
		<a href="/?MakeId=34&PriceRange=&ModelId=&YearFrom=&Transmission=&YearTo=&SortBy=4">Suzuki</a><br />
		<a href="/?MakeId=27&PriceRange=&ModelId=&YearFrom=&Transmission=&YearTo=&SortBy=4">Mitsubishi</a><br />
		<a href="/?MakeId=3&PriceRange=&ModelId=&YearFrom=&Transmission=&YearTo=&SortBy=4">BMW</a><br />
		<a href="/?MakeId=33&PriceRange=&ModelId=&YearFrom=&Transmission=&YearTo=&SortBy=4">Subaru</a><br />
		<a href="/?MakeId=25&PriceRange=&ModelId=&YearFrom=&Transmission=&YearTo=&SortBy=4">Mazda</a><br />
		<a href="/?MakeId=15&PriceRange=&ModelId=&YearFrom=&Transmission=&YearTo=&SortBy=4">Hyundai</a><br />
	</p>
</div>

<script type="text/javascript">
	$(function () {
		var $makeGroup = $("#make_group");
		var $modelGroup = $("#model_group");

		function disableControl($control, flag) {
			if (flag) {
				$control.attr("disabled", "disabled");
			} else {
				$control.removeAttr("disabled");
			}
		}

		function hideElement($element, flag) {
			if (flag) $element.hide("slow");
			else $element.show("slow");
		}

		$("#@Html.IdFor(x => x.MakeId)").change(function (event) {
			var $makeSelect = $(event.target);
			var $modelSelect = $("#@Html.IdFor(x => x.ModelId)");
			$modelSelect.empty();
			if (!$makeSelect.val()) {
				$modelSelect.append('<option value="">Select make first</option>');
			} else {
				$.ajax("@Url.Action("GetModels", "Home")", {
					method: "GET",
					data: { makeId: $makeSelect.val() },
					dataType: "json",
					beforeSend: function() {
						disableControl($makeSelect, true);
						disableControl($modelSelect, true);
					},
					complete: function() {
						disableControl($makeSelect, false);
						disableControl($modelSelect, false);
					},
					error: function () { alert("Unable to get the list of models. Please, try again later."); },
					success: function (data) {
						//var showMake = true;
						if (data.length) {
							$modelSelect.append('<option value="">Select model</option>');
							//showMake = false;
						} else {
							$modelSelect.append('<option value="">No models for this make</option>');
							alert("No models for this make");
						}
						for (var index in data) {
							var model = data[index];
							$modelSelect.append('<option value="' + model.Id + '">' + model.Name + '</option>');
						}
						//if (showMake) {
						//	hideElement($modelGroup, true);
						//	hideElement($makeGroup, false);
						//} else {
						//	hideElement($makeGroup, true);
						//	hideElement($modelGroup, false);
						//}
					}
				});
			}
		});

		$("#@Html.IdFor(x=>x.SortBy)").change(function() {
			$("#searchForm").submit();
		});
	});
</script>