﻿@using PagedList.Mvc
@using CarfinderjaWeb.Data
@model CarfinderjaWeb.ViewModels.Home.Index
@{
    ViewBag.Title = "Advertisements List";
}

<div class="well">
		@using (Html.BeginForm("Index", "Home", FormMethod.Get)) {
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						@Html.LabelFor(x => x.MakeId)
						@Html.DropDownListFor(x => x.MakeId, Model.Makes.Select(x => new SelectListItem() { Text = x.Name, Value = x.Id.ToString(), Selected = x.Id == Model.MakeId }), "Select make", new { @class = "form-control" })
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						@Html.LabelFor(x => x.YearFrom)
						@Html.DropDownListFor(x => x.YearFrom, Enumerable.Range(1900, DateTime.Today.Year - 1900 + 1).OrderByDescending(x => x).Select(x => new SelectListItem() { Text = x.ToString(), Value = x.ToString(), Selected = Model.YearFrom == x }), "Select year from", new { @class = "form-control" })
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						@Html.LabelFor(x => x.YearTo)
						@Html.DropDownListFor(x => x.YearTo, Enumerable.Range(1900, DateTime.Today.Year - 1900 + 1).OrderByDescending(x => x).Select(x => new SelectListItem() { Text = x.ToString(), Value = x.ToString(), Selected = Model.YearTo == x }), "Select year to", new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						@Html.LabelFor(x => x.Transmission)
						@Html.DropDownListFor(x => x.Transmission, Model.Transmissions.Select(x => new SelectListItem() { Text = x, Value = x, Selected = Model.Transmission.HasValue && Enum.GetName(typeof(Transmission), Model.Transmission.Value).ToUpperInvariant() == x.ToUpperInvariant()}), "Select transmission type", new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<input type="submit" value="Go" class="btn btn-primary"/>
					@Html.ActionLink("Reset", "Index", "Home", null, new { @class = "btn btn-default" })
				</div>
			</div>
		}
	</div>

@for (int i = 0; i < Model.Items.Count; i++) {
	<div class="row">
		@for (int j = 0; j < 4 && i + j < Model.Items.Count; j++) {
			var ad = Model.Items[i + j];
			<div class="col-md-3 portfolio-item">
				<a href="@ad.Url" target="_blank">
					<img class="img-responsive" src="@ad.ThumbnailUrl" alt="@Html.Encode(ad.Title)" style="height: 150px; border: 1px solid #c0c0c0" />
				</a>
				<h3>
					<a href="@ad.Url" target="_blank">@ad.Title</a>
				</h3>
				<p><b>Type:</b> @ad.Transmission</p>
				<p><b>Year:</b> @ad.Year</p>
				<p><b>Price:</b> @ad.Price</p>
				<p><b>Contact name:</b> @ad.ConatactName</p>
				<p><b>Phone:</b> @ad.ContactPhone</p>
				<p><b>Email:</b> @ad.ContactEmail</p>
				<p><b>Location:</b> @ad.Location</p>
			</div>
		}
		@{i += 3;}
	</div>
}

@*<div class="gallery" id="gallery">
	<div class="gallery-top heading">
		<h3>Car List</h3>
	</div>
	<div class="gallery-bottom">
		<section>
			<ul id="da-thumbs" class="da-thumbs">
				@foreach (var ad in Model.Items) {
					<li>
						<a href="@ad.Url" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="@ad.ThumbnailUrl" alt="" />
							<div>
								<h5>@ad.Title</h5>
								<span>
									<p><b>Type:</b> @ad.Transmission</p>
									<p><b>Year:</b> @ad.Year</p>
									<p><b>Price:</b> @ad.Price</p>
									<p><b>Contact name:</b> @ad.ConatactName</p>
									<p><b>Phone:</b> @ad.ContactPhone</p>
									<p><b>Email:</b> @ad.ContactEmail</p>
									<p><b>Location:</b> @ad.Location</p>
								</span>
							</div>
						</a>
					</li>
				}
				<div class="clearfix"> </div>
			</ul>
		</section>
	</div>
	<script type="text/javascript">
			$(function() {

				$(' #da-thumbs > li ').each( function() { $(this).hoverdir(); } );

			});
	</script>
</div>*@

<hr/>
<div class="row text-center">
	<div class="col-lg-12">
		@{
			var parameters = new RouteValueDictionary(Request.QueryString.AllKeys.ToDictionary(key => key, key => Request.QueryString[key] as object));
		}
		@Html.PagedListPager(Model.Items, page => {
			parameters["page"] = page;
			return Url.Action("Index", "Home", parameters);
		})
	</div>
</div>