﻿@using CarfinderjaWeb.Data
@using CarfinderjaWeb.ViewModels.Home
@model CarfinderjaWeb.Data.Statistics
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Carfinderja.com - Contact Us</title>
    <link rel="icon" href="@Url.Content("~/Content/skins/AutoShowWeb/images/favicon.ico")" type="image/x-icon" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/skins/AutoShowWeb/images/favicon.ico")" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @Styles.Render("~/Content/css/AutoShowWeb/home")
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css/font-awesome")
    @Scripts.Render("~/bundles/scripts/AutoShowWeb/home")
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <style type="text/css">
        .field-validation-error {
            color: #f00;
        }

        .validation-summary-errors {
            color: #f00;
            font-weight: bold;
        }

        .input-validation-error {
            border: 2px solid #f00;
            background-color: #fee;
        }

        input[type="checkbox"].input-validation-error {
            outline: 2px solid #f00;
        }

        .top-models, .top-brands {
            margin: 0 -5px;
        }

        .top-models table, .top-brands table {
            width: 100%;
        }

        .top-models table {
            color: #fff;
            border-collapse: collapse;
        }

        .top-models table, .top-models th, .top-models td {
            border: 2px solid #fff;
            padding: 5px;
            font-size: 16px;
            background-color: #000;
        }

        .top-brands table, .top-brands th, .top-brands td {
            font-size: 16px;
            padding: 5px;
            font-weight: bold;
        }

        .top-models table th, .top-brands table th {
            color: #fff;
            background-color: red;
            font-size: 18px;
            padding: 5px;
        }

        .price-ranges {
            padding: 0 -5px;
        }

        .price-ranges .chart-container {
            border-bottom: 4px solid #000;
            padding-top: 50px;"
        }

        .price-ranges .chart {
            width: 640px;
            margin: 0 auto;
        }

        .price-ranges .chart div {
            min-height: 30px;
            background-color: #000;
            float: left;
            width: 60px;
            margin: 0 10px;
            color: #fff;
            text-align: center;
            padding: 5px 0;
        }

        .price-ranges .legend-container {
            padding-top: 10px;
        }

        .price-ranges .legend {
            width: 640px;
            margin: 0 auto;
        }

        .price-ranges .legend div {
            float: left;
            width: 60px;
            margin: 0 10px;
            text-align: center;
            padding: 5px 0;
        }
    </style>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <script>  (function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga'); ga('create', 'UA-93577814-1', 'auto'); ga('send', 'pageview');</script>
    <div class="banner car-news">
        <div class="container" style="width: 100%; text-align: center;">
            <div class="navbar-header" style="width: 740px;">
                <div class="logo">
                    <a href="/" style="color: #c0c0c0;"><img src="@Url.Content("~/Content/skins/AutoShowWeb/images/carfinderja-logo.png")" width="740"/></a>
                    <div style="color: red; text-transform: uppercase; font-size: 24px; font-weight: bold; background-color: #000; padding: 8px;">Statistics</div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="men" style="padding-top: 5px;">
        <div class="container">
            @if (Model != null)
            {
                <div class="col-md-8 col-md-push-2 model-mar">
                    <div class="row" style="margin-top: 30px; color: #fff;">
                        <div class="col-md-6">
                            <div class="text-center" style="background-color: black; margin: 0 -5px;">
                                <div style="font-weight: bold; font-size: 40px;">@Model.CarsForSale.ToString("##,###")</div>
                                <div style="font-size: 20px;">Cars for Sale</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-center" style="background-color: black; margin: 0 -5px;">
                                <div style="font-weight: bold; font-size: 40px;">@((Model.CarsAddedLastMonth > 0 ? Model.CarsAddedLastMonth.ToString("##,###") : "0"))</div>
                                <div style="font-size: 20px;">Cars added last month</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-md-12">
                            <div class="top-models">
                                <table>
                                    <tr class="head">
                                        <th colspan="4">TOP 10 ADVERTISED MODEL</th>
                                    </tr>
                                    @for (int i = 0; i < Model.Top10Models.Count; i++)
                                    {
                                        <tr>
                                            <td class="text-center">@(i + 1)</td>
                                            <td class="text-left">@Model.Top10Models[i].Model</td>
                                            <td class="text-right">@Model.Top10Models[i].TotalCount.ToString("##,###")</td>
                                            <td class="text-right">@(Model.Top10Models[i].PercentRate.ToString("F"))%</td>
                                        </tr>
                                    }
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-md-12">
                            <div class="top-brands">
                                <table>
                                    <tr>
                                        <th colspan="4">TOP 10 ADVERTISED BRANDS</th>
                                    </tr>
                                    @foreach (var item in Model.Top10Brands)
                                    {
                                        <tr>
                                            <td class="text-right" style="width: 150px;">@item.Brand</td>
                                            <td>
                                                <div style="padding: 5px; float: left; background-color: #000; color: #fff; text-align: right; min-width: 40px; width: @((item.RelativePercentRate*.85).ToString("F"))%;">@item.TotalCount.ToString("##,###")</div>
                                                <div style="padding: 5px; float: left;">@(item.PercentRate.ToString("F"))%</div>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-md-12">
                            <div class="price-ranges">
                                <div style="color: #fff; background-color: red; font-size: 18px; font-weight: bold; padding: 5px;">PRICE RANGE OVERVIEW</div>
                                <div class="chart-container">
                                    <div class="chart">
                                        @{
                                            PercentRate rate = null;
                                            double height = 0, margin = 0, value = 0;
                                            if (Model.PriceRangeOverview.TryGetValue(PriceRange.I_0_500000, out rate))
                                            {
                                                height = 2 * Math.Round(rate.Relative);
                                                margin = 200 - (height < 30 ? 30 : height);
                                                value = Math.Round(rate.Base);
                                            }
                                        }
                                        <div style="height: @(height)px; margin-top: @(margin)px;">
                                            @(value)%
                                        </div>
                                        @{
                                            if (Model.PriceRangeOverview.TryGetValue(PriceRange.I_500000_1000000, out rate))
                                            {
                                                height = 2 * Math.Round(rate.Relative);
                                                margin = 200 - (height < 30 ? 30 : height);
                                                value = Math.Round(rate.Base);
                                            }
                                        }
                                        <div style="height: @(height)px; margin-top: @(margin)px;">
                                            @(value)%
                                        </div>
                                        @{
                                            if (Model.PriceRangeOverview.TryGetValue(PriceRange.I_1000000_1500000, out rate))
                                            {
                                                height = 2 * Math.Round(rate.Relative);
                                                margin = 200 - (height < 30 ? 30 : height);
                                                value = Math.Round(rate.Base);
                                            }
                                        }
                                        <div style="height: @(height)px; margin-top: @(margin)px;">
                                            @(value)%
                                        </div>
                                        @{
                                            if (Model.PriceRangeOverview.TryGetValue(PriceRange.I_1500000_2000000, out rate))
                                            {
                                                height = 2 * Math.Round(rate.Relative);
                                                margin = 200 - (height < 30 ? 30 : height);
                                                value = Math.Round(rate.Base);
                                            }
                                        }
                                        <div style="height: @(height)px; margin-top: @(margin)px;">
                                            @(value)%
                                        </div>
                                        @{
                                            if (Model.PriceRangeOverview.TryGetValue(PriceRange.I_2000000_3000000, out rate))
                                            {
                                                height = 2 * Math.Round(rate.Relative);
                                                margin = 200 - (height < 30 ? 30 : height);
                                                value = Math.Round(rate.Base);
                                            }
                                        }
                                        <div style="height: @(height)px; margin-top: @(margin)px;">
                                            @(value)%
                                        </div>
                                        @{
                                            if (Model.PriceRangeOverview.TryGetValue(PriceRange.I_3000000_4000000, out rate))
                                            {
                                                height = 2 * Math.Round(rate.Relative);
                                                margin = 200 - (height < 30 ? 30 : height);
                                                value = Math.Round(rate.Base);
                                            }
                                        }
                                        <div style="height: @(height)px; margin-top: @(margin)px;">
                                            @(value)%
                                        </div>
                                        @{
                                            if (Model.PriceRangeOverview.TryGetValue(PriceRange.I_4000000_5000000, out rate))
                                            {
                                                height = 2 * Math.Round(rate.Relative);
                                                margin = 200 - (height < 30 ? 30 : height);
                                                value = Math.Round(rate.Base);
                                            }
                                        }
                                        <div style="height: @(height)px; margin-top: @(margin)px;">
                                            @(value)%
                                        </div>
                                        @{
                                            if (Model.PriceRangeOverview.TryGetValue(PriceRange.I_GT_5000000, out rate))
                                            {
                                                height = 2 * Math.Round(rate.Relative);
                                                margin = 200 - (height < 30 ? 30 : height);
                                                value = Math.Round(rate.Base);
                                            }
                                        }
                                        <div style="height: @(height)px; margin-top: @(margin)px;">
                                            @(value)%
                                        </div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="legend-container">
                                    <div class="legend">
                                        <div>&lt; 500,000</div>
                                        <div>0.5M - 1M</div>
                                        <div>1M - 1.5M</div>
                                        <div>1.5M - 2M</div>
                                        <div>2M - 3M</div>
                                        <div>3M - 4M</div>
                                        <div>4M - 5M</div>
                                        <div>&gt; 5M</div>
                                    </div>
                                    <div style="clear: both;"></div>
                                    <div style="float: right; color: #fff; background-color: #000; font-size: 18px; text-align: center; padding: 5px 30px; margin-top: 10px;">
                                        M = MILLION JMD
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Scripts.Render("~/bundles/scripts/AutoShowWeb/home/bottom")
                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-8 col-md-push-2 model-mar">
                                                    <p class="text-center" style="margin-top: 25px;">
                                                        Generating the statistics report. It may take some time...
                                                    </p>
                                                    <script type="text/javascript">
                                                        setTimeout(function () { location.reload(true); }, 10000);
                                                    </script>
                                                </div>
                                                     }

        </div>
    </div>
    <div class="footer">
        <div class="container">
            <ul class="social">
                <li><a href="https://www.facebook.com/carfinderja/"><i class="fb"> </i> </a></li>
            </ul>
            <div class="clearfix"></div>
            <div class="copy">
                <p>
                    &copy; @DateTime.Today.Year Carfinderja. All rights reserved | Terms & conditions: <a href="@Url.Content("~/Content/Carfinderja - Terms and Conditions.pdf")"><i class="fa fa-file-pdf-o fa-lg"></i></a> | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
